{% extends 'base.html' %}
{% set title = 'Profile Display' %}
{% from "_formhelpers.html" import render_field %}
{% block content %}
    {% if current_user.id == results.user_id %}
        <a href="/*" class="btn btn-primary">Edit</a>
    {% endif %}
    <div class="card" style="width: 18rem;">
        <!-- <img class="card-img-top" src="{{ url }}" alt="User profile photo"> -->
        <div class="card-body">
            <h5 class="card-title">{{ results.username }}</h5>
            <h6 class="card-title">{{ results.organization }}</h6>
            <p class="card-text">{{ results.bio }}</p>
        </div>
    </div>
{% endblock %}